body {
  background-color: var(--primary);
}

#Result_Card {
  display: none;
}
.card {
  background-color: var(--secondary);
  color: var(--textcolor);
}

.card-header {
  background-color: #343a40;
  color: white;
}

.list-group-item, .btn{
  background-color: var(--secondary);
}

#current_week {
  color: var(--secondary);
  padding: 10px;
}

/* .direction-btn {
  background-color: var(--secondary);
  margin-top: 75%;
} */
