body {
  background-color: var(--primary);
}


#team-name-header {
  color: var(--secondary);
  padding: 10px;
}

.card {
  background-color: var(--secondary);
  color: var(--textcolor);
}

.card-header {
  background-color: #343a40;
  color: white;
}

.list-group-item, .btn{
  background-color: var(--secondary);
}
